main {
  position: relative;
  top: 5.4rem;
}

main .container {
  display: grid;
  position: relative;
  grid-template-columns: 18vw auto 20vw;
  column-gap: 2rem;
}

@media screen and (max-width:1200px) {
  .main-left {
    display: none;
  }

  main .container {
    display: grid;
    position: relative;
    grid-template-columns: auto 20vw;
    column-gap: 2rem;
  }
}

@media screen and (max-width:1000px) {
  .main-left {
    display: none;
  }

  .main-right {
    display: none;
  }

  main .container {
    display: grid;
    position: relative;
    grid-template-columns: auto;
    column-gap: 2rem;
  }
}